<!doctype html>
<html>

<head>
    <title>Walfmart</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
</head>

<body>
    <div class="form-container">
        <h1>SIGN UP FOR THE SECRET GOVERNMENT</h1>
        <br>
        <form method="POST" action="/signup" autocomplete="off">
            <label>CODENAME:</label>
            <input type="text" id="username" name="username">
            <br><br>
            <label>Secret Password its a SECRET:</label>
            <input type="text" id="password" name="password">
            <br><br>
            <label>The Email Address that you use every single day: (use normal email so that you don't stand out!)(if you're too special people will know that you're a spy!)</label>
            <input type="text" id="email" name="email">
            <br><br>
            <input type="submit" id="register" value="SIGN UP TODAY FOR ONLY $50000000000000 dollars in Canadian Yen! Yen is Canadian Money!">
        </form>
    </div>
    <div>
        <span id="signupMsg">
    <%= msg %>
    </span>
    </div>
</body>

</html>
