<!doctype html>
<html ng-app="myApp">
    
<head>
    <title>Walfmart</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">  
</head>
        
<body>
    <h1>THIS IS SUPER SECRET INFORMATION THAT'S DEFINETLY NOT ANYTHING SUSPICIOUS. STOP LOOKING OVER THeir SHOULDER AND GET BACK TO WORK YOU HUMAN SCUM!</h1>  
    <p>this is a message for people who read over your shoulder.</p>
    <br><br>
    <hr>
    <div class="form-container" ng-controller="myController">
        <h2>Your SpY Info</h2>
        <br><br>
        <form method="POST" action="/user/update" autocomplete="off">
            <label>SECRET PROFILE PICTURE: (Choose a pic that's not of yourself)(Right now your pic is that girl with buckteeth because why not?)</label>
            <input type="text" id="img" name="img" ng-model="user.img"><br>  
            <br>
            <label>SECRET CODENAME:</label>
            <input type="text" id="username" name="username" ng-model="user.username" disabled>
            <br><br>
            <label>NORMAL EMAIL:</label>
            <input type="text" id="email" name="email" ng-model="user.email">
            <br><br>
            <label>FAVORITE SECRET KIND OF PUPPY: (SO that we KNOW how to torture you in case you ever betray us!)</label>
            <input type="text" id="puppy" name="puppy" ng-model="user.puppy">
            <br><br>   
            <label>Set Your Own Secret Mission! Self Care is Best.</label>
            <input type="text" id="mission" name="mission" ng-model="user.mission">
            <br><br>   
            <input type="submit" id="save" value="Save">
        </form>
    </div>
    <hr>
    <br><br>
    <form method="POST" action="/user/delete">
        <input type="submit" id="delete" value="SELF DESTRUCT Button IN CASE OF EMERGENCIES">
    </form>
    <br>
    <div>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <a id="homeLink" href="/">Back to SpyNet</a>
    </div>
    <br><br>
</body>

</html>